

<h1 class="titulo-index-times">Tabela de Times</h1>

<table id="tabela-times">
  <thead>
    <tr>
      <th></th>
      <th colspan="3"></th>
    </tr><br>
  </thead>
<div class="box-conulta-times">
  <tbody class="times-index">
    <% @teams.each do |team| %>
      <tr>
        <td class="link-tabela-times"><%= link_to team.name_team, team %></td>
        <td><%= link_to 'Integrantes', team, class:"botao-index-show-times" %></td>
        <td><%= link_to 'Usuário', team, class:"botao-index-delete-times" ,method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</div>
</table>

<br>

<%= link_to 'Criar Time', new_team_path, class:"botao-criar-novo-time" %>
