
<p class="ttitulo-time-show-times">
  <h1 class="titulo-time-show-times">Nome do Time:</h1>
  <%= @team.name_team %>
</p>
<div class="contanier-time-show">
<p>

<% @users.each do |user| %>
<% if user.team_id == @team.id %>
  <p><%= user.name %></p><br>
<% end %>
<% end %>
</p>
</div>
<%= link_to 'Editar', edit_team_path(@team), class:"botao-index-delete-times" %> |
<%= link_to 'Voltar', teams_path, class:"botao-index-delete-times" %>



