
<h1 class="titulo-index-times">Tabela de Cargos</h1>

<table id="tabela-cargos">
  <thead>
    <tr>
      <th class="titulo-tabela-cargos">Nome do cargo</th>
      <th class="titulo-tabela-cargos">Membro</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @offices.each do |office| %>
      <tr>
        <td><%= office.name_office %></td>
       
        <td><%= link_to office.user.name, office, class:"link-tabela-cargos" %></td>
        <td><%= link_to 'Editar', edit_office_path(office), class:"botao-index-editar-cargos" %></td>
        <td><%= link_to 'Excluir', office, class:"botao-index-delete-cargos" ,method: :delete, data: { confirm: 'Você tem certeza disto?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


