<div class="container-show-membros">
<table id="tabela-membros">
  <thead>
    <tr>
      <th class="coluna-membros">Nome</th>
      <th class="coluna-membros">Email</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td class="link-tabela-membros"><%= link_to user.name, show_user_path(user) %></td>
      <td><%= user.email %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>