
<p>
  <strong>Name goal float:</strong>
  <%= @goal_float.name_goal_float %>
</p>

<p>
  <strong>Year goal float:</strong>
  <%= @goal_float.year_goal_float %>
</p>

<%= link_to 'Edit', edit_goal_float_path(@goal_float) %> |
<%= link_to 'Back', goal_floats_path %>
