*{
  margin: 0;
}

.logo-cadastro img {
  height: 100px;
  display: block;
  margin: 40px auto;
  }

body{
  background-color: #191932;
  font-family: 'Linux Libertine', serif;
}

@font-face {
  font-family: Linux Libertine;
  src: url(LinLibertine_I.ttf);
}

.titulo-cadastro{
  text-align: center;
  margin-top: 20px;
  color: white;
  font-size: 25px;
}

/*----------------------BOX DE CADASTRO---------------*/
.formulario-cadastro {
  width: 400px;
  height: 400px;
  background-color: #EDEDED;
/*  border: solid 1px black;*/
  border-radius: 0;
  margin: 30px auto;
}

/*-------------------CAMPOS DO CADASTRO-----------------*/
.field-cadastro{
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
  font-weight: bold;
  text-color: #191932;
  padding-top: 20px;
}
.field-cadastro label {
  display: block;
  width: 100%;
  text-align: left;
  padding-left: 82px;
  font-size: 15px;
}
.field-cadastro input{
  margin: 5px auto;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  height: 25px;
  width: 233px;
}

/*------------------BOTAO DE CADASTRAR-------------------*/

.actions-cadastro input{
  height: 30px;
  width: 245px;
  display: block;
  margin: 30px auto;
  border: solid 1px;
  border-color: #132A57;
  background-color: #132A57;
  color: white;
  border-radius: 3px;
}
.actions-cadastro input:hover{
  background-color: #aaaee4;
  transition: 0.3s;
  border: solid 1px;
  border-color: #aaaee4;
  color: #132A57;
}
