*{
  margin: 0;
}

.logo-cadastro img {
  height: 100px;
  display: block;
  margin: 40px auto;
  }

<<<<<<< HEAD
body{
  background-color: #191932;
  font-family: 'Linux Libertine', serif;
}
=======

>>>>>>> 70dd3a3336a719a83c3f6cab49a5e886c761a760

@font-face {
  font-family: Linux Libertine;
  src: url(LinLibertine_I.ttf);
}

.titulo-cadastro{
<<<<<<< HEAD
=======
  text-decoration: none;
>>>>>>> 70dd3a3336a719a83c3f6cab49a5e886c761a760
  text-align: center;
  margin-top: 20px;
  color: white;
  font-size: 25px;
}

/*----------------------BOX DE CADASTRO---------------*/
.formulario-cadastro {
  width: 400px;
  height: 400px;
  background-color: #EDEDED;
/*  border: solid 1px black;*/
<<<<<<< HEAD
  border-radius: 5px;
=======
  border-radius: 0;
>>>>>>> 70dd3a3336a719a83c3f6cab49a5e886c761a760
  margin: 30px auto;
}

/*-------------------CAMPOS DO CADASTRO-----------------*/
.field-cadastro{
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
  font-weight: bold;
<<<<<<< HEAD
  text-color: #191932;
=======
  text-decoration-color:  #191932;
>>>>>>> 70dd3a3336a719a83c3f6cab49a5e886c761a760
  padding-top: 20px;
}
.field-cadastro label {
  display: block;
  width: 100%;
  text-align: left;
  padding-left: 85px;
  font-size: 15px;
}
.field-cadastro input{
  margin: 5px auto;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  height: 25px;
  width: 233px;
}

/*------------------BOTAO DE CADASTRAR-------------------*/

.actions-cadastro input{
  height: 30px;
  width: 245px;
  display: block;
  margin: 30px auto;
  border: solid 1px;
  border-color: #132A57;
  background-color: #132A57;
  color: white;
  border-radius: 3px;
}
.actions-cadastro input:hover{
  background-color: #aaaee4;
  transition: 0.3s;
  border: solid 1px;
  border-color: #aaaee4;
  color: #132A57;
}
<<<<<<< HEAD
=======

>>>>>>> 70dd3a3336a719a83c3f6cab49a5e886c761a760
