.container-footer{  
    width: 100%;
    background-color: black;
}
footer p{
    padding: 10px 0;
    text-align: center;
    font-family: "Avenir Next", "Avenir", sans-serif;
    color: #ededed;
}
