/*------------------- REDEFINIR SENHA---------------------*/
.titulo-redefsenha{
  text-align: center;
  margin-top: 20px;
  color: white;
  font-size: 25px;
}
/*-----------------CAIXA/BOX DE REDEFINIR SENHA------------*/

.container-redefsenha{
  display: block;
  border-radius: 5px;
  margin: 30px auto;
  background-color: #EDEDED;
  width: 300px;
  height: 300px;
}
.container-redefsenha p{
  font-size: 20px;
  text-align: center;
  padding: 20px;
}
.container-redefsenha label{
  display: block;
  width: 100%;
  text-align: left;
  padding-left: 35px;
  font-size: 15px;
}
.container-redefsenha input{
  display: block;
  margin: 5px auto;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  height: 25px;
  width: 233px;
}
.botao-redefsenha{
  height: 30px;
  width: 245px;
  display: block;
  margin: 30px auto;
  border: solid 1px;
  border-color: #132A57;
  background-color: #132A57;
  color: white;
  border-radius: 3px;
}
