
//<%= render 'layouts/header' %>
*{
  margin: 0;
}

/*-------------------CAMPOS DO LOGO LOGIN-----------------*/

.logo-login img {

  height: 100px;
  display: block;
  margin: 50px auto;
  }

body{
  background-color: #191932;
}

/*-------------------CAMPOS DO TITULO LOGIN-----------------*/
.titulo-login{
padding-top: 20px;
text-align: center;
color: #ededed;
font-size: 25px;
}


/*-------------------CAMPOS DO BOX LOGIN-----------------*/

.box-login{
  height: 360px;
  max-width: 400px;
  background-color: #ededed;
  border-style: solid;
  border-width: 1px;
  border-color: #ededed;
  border-radius: 5px;
  margin: 30px auto;
  box-shadow: 0 10px 20px #00000030, 0 6px 6px #0000003b;
}



.box-login h2{  
  font-family: sans-serif;
  padding-top: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 70px;
  font-size: 15px;
  color: #000000;
}  

.box-login h3{
  font-family: sans-serif;
  margin-bottom:5px;
  padding-left: 70px;
  font-size: 15px;

  color: #000000;
}

.input-login{
  
  margin: 0 auto 20px auto;
  display: block;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  height: 30px;
  padding: 0 15px;
  border-radius: 3px;
  
}

/*-------------------CAMPOS DO BOTAO LOGIN-----------------*/

.botao-login{
  margin: 0 auto 20px auto;
  display: block;
  margin-top: 50px;
  background-color: #132A57;
  border-radius: 3px;
  text-decoration: none;
  border-color: #132A57;
  text-align: center;
  height: 30px;
  width: 260px;
  color: #ededed;
  border: solid 1px;
}
.botao-login:hover{
  background-color: #aaaee4;
  transition: 0.3s;
  border: solid 1px;
  border-color: #aaaee4;
  color:#132A57
}


/*-------------------CAMPOS DO RECUPERAÇÃO DE SENHA E CADASTRO-----------------*/

.box-login li{
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  font-size: 12px;
}
.box-login li a{
  text-decoration: none;
  color: #000000;
}
.link-cadastro{
  margin-top: 10px;
  }